---
layout: default
title: Coding the Past - learn social data science in R and Python.
keywords: social data science, python and r, historical data, statistics, data visualization, historical datasets, climate data
description: Explore digital humanities with R and Python. Navigate historical datasets and use data science to enrich your research.
last_modified_at: 02-Sep-23
---
   <div class="presentation-box">
    <div class="presentation-box-img">
        <img class="intro-img"
             title="Women programming the ENIAC (Wikimedia Commons)."
             src="/assets/images/960px-Reprogramming_ENIAC.png" 
             alt="Two women programming the ENIAC computer by plugging in cables.">
        <p class="image-caption">
            Women reprogramming the ENIAC (1946). Wikimedia, Public Domain.
        </p>
    </div>
    <div class="intro-text">
        <p>
            Here you find lessons to <b>sharpen your coding skills</b>, while learning about our past.
            Whether you are conducting <b>research</b> or you are a <b>data enthusiast</b>, 
            here is the place where you transform your perspectives with the <b>power of data</b>! Select a topic in the menu below and starting learning!
        </p>
    </div>
</div>
    <div class="latest-updates">
        {% assign all_tags = "" %}
        {% for post in site.posts %}
            {% for tag in post.tags %}
                {% if all_tags contains tag %}
                {% else %}
                    {% assign all_tags = all_tags | append: tag | append: "," %}
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% assign all_tags = all_tags | split: "," | sort %}


        <div id="tag-buttons">
            <button class="tag-button" data-tag="all">ALL LESSONS ({{ site.posts.size }})</button>
            {% assign tag_counts = "" | split: ',' %}
            {% for tag in all_tags %}
                {% assign tag_count = 0 %}
                {% for post in site.posts %}
                    {% if post.tags contains tag %}
                        {% assign tag_count = tag_count | plus: 1 %}
                    {% endif %}
                {% endfor %}
                {% assign tag_counts = tag_counts | push: tag_count %}
                <button class="tag-button" data-tag="{{ tag }}">{{ tag | upcase }} ({{ tag_count }})</button>
            {% endfor %}
        </div>
        
        <br>
        <ul class="lessons-list">
            <div id="posts">
                {% for post in site.posts %}
                <div class="post" data-tags="{{ post.tags | join: ',' }}">
                    <li class="lesson-style">
                        <div class="lesson-name">
                            <h2><a class="lesson-link" href="{{ post.url }}">{{ post.title }}</a></h2>
                            <ul class="meta-info">
                                {% for item in post.attributes %}
                                <li>{{item.e}}</li>
                                {% endfor %}
                            </ul>
                            {{ post.abstract }}
                        </div>
                        <div class="lesson-img-box">
                            <a class="lesson-link" href="{{ post.url }}">
                                <img class="lesson-img" src="/assets/images/{{ post.image }}" alt="image related to the lesson" width="475" height="475">
                            </a>
                        </div>
                    </li>
                </div>
                {% endfor %}
            </div>
        </ul>
        <div class="pic_attribution">
            <sup>*</sup>Cover images are all in public domain (available at Wikimedia Commons) or AI generated.
        </div>
    </div>
    <div class="empty-space">

    </div>
</div>


