---
layout: default
title: Coding the Past - learn social data science in R and Python.
keywords: social data science, python and r, historical data, statistics, data visualization
description: Use R and Python to analyze historical data and code beautiful visualizations
last_modified_at: 05-Mar-23
---
<div class="presentation-box">
    <div class="presentation-box-img">
        <img class="intro-img"  title = "Women programming the Electronic Numerical Integrator and Calculator (Wikimedia Commons)." src="/assets/images/women-programming.png" alt="Women programming the oldest computer.">
    </div>
    <div class="intro-text">
        <h1>Data science for all</h1>
        <p>For a long time, statistical and digital methods were restricted to hard sciences. Fortunately, historians and humanists can now benefit from data science as well. This webpage provides programming lessons on the use of data science in digital humanities. Learn to conduct efficient statistical analyses and show your insights with beautiful visualizations.</p>
    </div>
    <div class="latest-updates">
        <h1>CODING LESSONS</h1>
        <ul class="lessons-list">
            {% for post in site.posts %}
            <li class="lesson-style">
                <div class="lesson-name">
                    <h2><a class="lesson-link" href="{{ post.url }}">{{ post.title }}</a></h2>
                    <ul class="meta-info">
                        {% for item in post.attributes %}
                        <li>{{item.e}}</li>
                        {% endfor %}
                    </ul>
                    {{ post.abstract }}
                </div>
                <div class="lesson-img-box">
                    <img class="lesson-img" src="/assets/images/{{ post.image }}" alt="image related to the lesson">
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="empty-space">

    </div>
</div>

