---
layout: default
---

{% if page.title != "My Journey Learning R as a Humanities Undergrad" %}



 <!-- Affiliate Banner -->
<div class="affiliate-banner" style="background-color: #e9ddc3; padding: 1rem; color: #2E3031; margin-bottom: 1.5rem; display: flex; align-items: center; justify-content: space-between;">
    <div class="affiliate-banner-text" style= "margin-left: 5%;">
      <strong style="font-size: 1.5rem; display: block; margin-bottom: 0.25rem;"><a href="/2025/04/22/How-I-learned-R.html" class="btn--affiliate" style="text-decoration: none;">My Journey Learning R as a Humanities Undergrad</a></strong>
      <span>Discover how I got started with R, the challenges I faced and resources I used.</span>
    </div>
    <a href="/2025/04/22/How-I-learned-R.html" class="btn btn--read-more" style="background-color: #C84848; color: #fff; padding: 0.5rem 1rem; text-decoration: none; margin-right: 5%;">Read More</a>
</div>

{% else %}

<div class="affiliate-banner" style="background-color: #2E3031; padding: 0rem; color:#2E3031 ; margin-bottom: 0rem; display: flex; align-items: center; justify-content: space-between;">
   
</div>


{% endif %}

<div class="post-body">
    <h1 id = "post-main-title">{{ page.title }}</h1>
    <p id = "author">{{ page.author }} &#9679 {{ page.date | date_to_string }}</p>
    <hr>
    <ul class = "meta-info">
        {% for item in page.attributes %}
        <li>{{item.e}}</li>
        {% endfor %}
    </ul>
    <br>
    <p class = "pre-lesson">What you will learn</p>
    <ul>
        {% for item in page.objectives %}
        <li class = "objectives"> {{item.o}}</li>
        {% endfor %}
    </ul>
    <br>
    <p class = "pre-lesson">Table of Contents</p>


    {% include toc.html html=content class = "toc-entry" %}

    {{ content }}
    
</div>


<div class = "comments-style">
    {% include comment-section.html url=page.url %}
</div>
<div class = "share">
    {% include share-buttons.html %}
</div>

<button onclick="topFunction()" id="myBtn" title="Go to the top">
    <span class="material-symbols-outlined">
        keyboard_double_arrow_up
    </span>
</button>




